@import "http://fonts.googleapis.com/css?family=Roboto";

body {
    background-color: #f1f1f1;
    font-family: 'Roboto','Arial Narrow',sans-serif;
    margin-top:60px;
}

.navbar {
    background: #ffffff;
    border-bottom:1px solid #CCCCCC;
    padding-right:8px;
    padding-left:8px;
}

.icon-bar {
   background-color:#428bca;
}

.container {
    background: #ffffff;
    border:1px solid #CCCCCC;
}

.row-content{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    color: #000000;
    border-bottom: 1px solid #CCCCCC;
}

h2 {
    font-size: 22px;
    color: #000000;
    border-bottom: 1px solid #CCCCCC;
}

h3{
    font-size: 18px;
    color: #000000;
}

.countUp{
    color:red;
}

.countDown{
    color:green;
}

.panelValue{
    font-size:40px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
}

.panelValueDate{
    font-size:25px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    padding:26px;
}

img.checkclr {
  background-image:url('images/check-clr.png');
}

img.checkset {
  background-image:url('images/check-set.png');
}

img.checkunk {
  background-image:url('images/check-unk.png');
}
