% global cfg
<!DOCTYPE html>
<html lang="en">
<head>
[include header.inc]
</head>
<body>
[include navbar.inc]

<div class="container">
    <div class="row-content">
<h1>Cfg Dump</h1>
<table class="table table-hover table-bordered table-striped table-condensed">
% foreach n [lsort -dictionary [array names cfg]] {
<tr><td>$n</td><td>$cfg($n)</td></tr>
% }
</table>

</div>
</div>
</body>
</html>
