%# -*- html -*-
% global msglog
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="js/message.js"></script>
    </head>
    <body>
        <pre id="log">
[join $msglog \n]
        </pre>
        <a name="bottom"></a>
    </body>
</html>
